.rootContainer {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  max-height: 100dvh;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.footer {
  position: unset;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-xs);

  @mixin larger-than $mantine-breakpoint-lg {
    flex-direction: row;
  }
}
